<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="list1" value="http://mp.weixin.qq.com/profile?src=3&amp;timestamp=1474855861&amp;ver=1&amp;signature=OlstH1J8Y*px*k9-mJ2oEcWGYb70ZjRnZZasvynMo*tWmsVWfEWr5H2kbi5gq-ZD8lmKf99p8jiWS*zoPp8fDQ=="/>
    <add key="list2" value="http://mp.weixin.qq.com/profile?src=3&amp;timestamp=1474855861&amp;ver=1&amp;signature=K7Syb3ygPnbI9A6SEqtr1IcZwrLDe99UDy2O6Y-4leYQdq4R0EzIgLVrjg9FIRAB4Sefjfu6IFQ8Demzz2qIUQ=="/>
  </appSettings>
</configuration>